/* ------------------
 styling for the tables 
   ------------------   */

#ver-minimalist
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	line-height: 1.6em;
}

#ver-minimalist th
{
	padding: 8px 2px;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 2px solid #aaa;
	border-right: 30px solid #000;
	border-left: 30px solid #000;
	color: #ddd;
}

#ver-minimalist td
{
	padding: 12px 2px 0px 2px;
	border-right: 30px solid #000;
	border-left: 30px solid #000;
	color: #ddd;
}

