<h1>die lixhottentotten 2012 (<%= @guests.count %>):</h1>

<table id="ver-minimalist">
  <tr>
    <th>name</th>
    <th>bringt mit</th>
  </tr>

<% @guests.each do |guest| %>
  <tr>
    <td><%= guest.name %></td>
    <td><%= guest.gift.name if guest.gift %></td>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'zurück', '/' %>
