<h1>wer feiert mit:</h1>

<center>
<table id="ver-minimalist">
  <tr>
    <th>name</th>
    <th>bringt mit</th>
  </tr>

<% @guests.each do |guest| %>
  <tr>
    <td><%= guest.name %></td>
    <td><%= guest.gift.name %></td>
  </tr>
<% end %>
</table>
</center>
<br />

<%= link_to 'zurück', '/' %>
